/*中心图开始*/
.home_center{
    margin-top: 80px;
    width: 100% ;
    margin-bottom:80px;
}
/*中心图结束*/

/*公司内容开始*/
.home_content{
    height:100%;
    /*border: 1px solid red;*/
    margin-bottom: 70px;
}
.home_content .home_content_tab{
    width: 1200px;
    overflow: hidden;
    padding-left: 350px;
}
.home_content .home_content_tab div{
    display:block;
    float: left;
    width: 230px;
    height: 50px;
    line-height: 50px;
    margin-right: 40px;
    font-size: 18px;
    text-decoration:none;
    color:#3A3A37;
    text-align: center;
    cursor:pointer
}
.hometive{
    background:#25A9E0;
    color:#FCFFFC !important;
    border-radius: 5px;
    text-decoration:none;
}

/*公司简介*/
.home_content_textOne{
    /*display: none;*/
}
.home_content_textTwo{
    display: none;
}
.about_left{
    margin-right: 50px;
}
.about_left img{
    width: 395px;
}
.about_right_p{
    line-height: 19px;
    color: #393939;
    font-size: 16px;
    width: 760px;
}


/*公司荣誉*/

/*企业荣誉*/
.honor_head_line{
    width: 350px;
}
.honor_head{
    margin-bottom: 70px;
}

/*企业荣誉图片*/
.honor_all{
    height: 520px;
    /*border: 1px solid #000;*/
    margin-bottom: 70px;
}
.honor_all_top{
    width: 100%;
    height: 220px;
    margin-bottom:80px;
}
.honor_all_top div{
    width: 330px;
    height: 220px;
    border: 1px solid #15B6FF;
    box-sizing:border-box;
    float: left;
    margin-right: 105px;
}

.honor_all_btn{
    width: 100%;
    height: 220px;
}
.honor_all_btn div{
    width: 330px;
    height: 220px;
    border: 1px solid #15B6FF;
    float: left;
    margin-right: 105px;
}

/*企业成就*/
.achievement_head_line{
    width: 470px;
}
.achievement_all{
    height: 250px;
    margin-bottom: 70px;
}
.achievement_all div{
    width: 180px;
    height: 250px;
    border: 1px solid #15B6FF;
    float: left;
    margin-right: 75px;
}


/*公司内容结束*/

/*企业历程开始*/
.home_process{
    height: 500px;
    background-image: url("../img/starting_point .png");
    margin-bottom: 70px;
    padding-top: 1px;
    padding-left: 35px;
    padding-right: 35px;
}
.home_process_head{
    margin-top: 29px;
}
.home_process_line{
    width: 330px;
}
.home_process_text{
    font-size: 14px;
    text-align: center;
    color: #ECF9FD;
}
/*企业历程结束*/

/*企业文化开始*/
.home_culture{
    height: 645px;
}
.home_culture_head{
    margin-top: 0;
    margin-bottom: 70px;
}
.home_culture_head_h2{
    margin-top: 0;
}
.home_culture_head_line{
    width: 370px;
}

.home_culture_center{
    height: 300px;
    margin-bottom: 60px;
}
.home_culture_center div{
    width: 360px;
    height: 300px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #15B7FD;
    margin-right: 58px;
    border-radius: 5px;
    position: relative;
}
.home_culture_center .home_culture_center_btn{
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 60px;
    line-height: 60px;
    border: none;
    background-color: rgba(105, 103, 103, 0.7);
    color: white;
    font-size: 18px;
    text-align: center;
}
.home_culture_center .home_culture_center_btn:hover{
    background-color:#25A9E0 ;
}

.home_culture_university{
    width: 100%;
    height: 120px;
    border-top: 1px solid  #E4E4E4;
    border-bottom:1px solid #E4E4E4 ;

}
.home_culture_university ul{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    padding: 0 160px;
}
.home_culture_university ul li{
    float: left;
    height: 120px;
    line-height: 120px;
    padding: 0 65px;
}
.home_left{
    display: block;
    margin-left: 80px;
    height: 120px;
    line-height: 120px;
}
.home_right{
    display: block;
    margin-right: 80px;
    height: 120px;
    line-height: 120px;
}
/*企业文化结束*/