/*导航开始*/
ul{
    padding: 0;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    background-color: #1F2D3D;
    padding-left: 60px;
    padding-right: 60px;
}
.nav .nav_logo{
    display: block;
}
.nav .nav_logo img{
    width: 25%;
    position: absolute;
    top:15px;
}
.nav .nav_ul{
    position: relative;
}
.nav .nav_ul li{
    float: left;
    height: 80px;
    line-height: 80px;
    padding-left:30px;
}
.nav .nav_ul li a{
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color: #FFFFFD;
}
.nav .nav_ul li a:hover{
    border-bottom: 2px solid #FFFFFD;
}
.active{
    color: #FFFFFD !important ;
    border-bottom: 2px solid #FFFFFD;
}

/*下拉菜单*/

/*关于福怡*/
.home_down{
    position: absolute;
    padding: 0;
    top: 80px;
    left: 100px;
    width: 120px;
    height: 65px;
    line-height:30px;
    z-index: 2;
    text-align: center;
    display: none;
}
.home_down .home_li{
    background-color:rgba(31, 45, 61,1);
    width: 120px;
    height: 30px;
}
.home_down .home_li:nth-child(2){
    margin-top: 2px;
}
.home_down .home_li span{
    color: white;
}
.home_down .home_li span a{
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #FFFFFD;
}
.home_down .home_li span a:hover{
    border:none;
    color: rgb(0, 147, 209);
    background-color:#E3E3E3;
}

/*产品和服务*/
.product_down{
    position: absolute;
    padding: 0;
    top: 80px;
    left: 200px;
    height: 65px;
    line-height:30px;
    z-index: 2;
    text-align: center;
    display: none;
}
.product_down .product_li{
    background-color:rgba(31, 45, 61,1);
    width: 120px;
    height: 30px;
}
.product_down .product_li:nth-child(2){
    margin-top: 2px;
}
.product_down .product_li span{
    color: white;
    cursor: pointer;
}
.product_down .product_li span a{
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #FFFFFD;
}
.product_down .product_li span a:hover{
    border:none;
    color: rgb(0, 147, 209);
    background-color:#E3E3E3;
}

/*临床应用*/
.clinical_down{
    position: absolute;
    padding: 0;
    top: 80px;
    left: 300px;
    width: 120px;
    height: 65px;
    line-height:30px;
    z-index: 2;
    text-align: center;
    display: none;
}
.clinical_down .clinical_li{
    background-color:rgba(31, 45, 61,1);
    width: 120px;
    height: 30px;
}
.clinical_down .clinical_li:nth-child(2){
    margin-top: 2px;
}
.clinical_down .clinical_li:nth-child(3){
    margin-top: 2px;
}
.clinical_down .clinical_li span{
    color: white;
    cursor: pointer;
}
.clinical_down .clinical_li span a{
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #FFFFFD;
}
.clinical_down .clinical_li span a:hover{
    border:none;
    color: rgb(0, 147, 209);
    background-color:#E3E3E3;
}

/*新闻动态*/
.news_down{
    position: absolute;
    padding: 0;
    top: 80px;
    left: 400px;
    width: 120px;
    height: 65px;
    line-height:30px;
    z-index: 2;
    text-align: center;
    display: none;
}
.news_down .news_li{
    background-color:rgba(31, 45, 61,1);
    width: 120px;
    height: 30px;
}
.news_down .news_li:nth-child(2){
    margin-top: 2px;
}
.news_down .news_li span{
    color: white;
    cursor: pointer;
}
.news_down .news_li span a{
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #FFFFFD;
}
.news_down .news_li span a:hover{
    border:none;
    color: rgb(0, 147, 209);
    background-color:#E3E3E3;
}

/*联系我们*/
.contact_down{
    position: absolute;
    padding: 0;
    top: 80px;
    left: 790px;
    width: 120px;
    height: 65px;
    line-height:30px;
    z-index: 2;
    text-align: center;
    display: none;
}
.contact_down .contact_li{
    background-color:rgba(31, 45, 61,1);
    width: 120px;
    height: 30px;
}
.contact_down .contact_li:nth-child(2){
    margin-top: 2px;
}
.contact_down .contact_li span{
    color: white;
    cursor: pointer;
}
.contact_down .contact_li span a{
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #FFFFFD;
}
.contact_down .contact_li span a:hover{
    border:none;
    color: rgb(0, 147, 209);
    background-color:#E3E3E3;
}
/*导航结束*/

/*侧边栏开始*/
.dock{
    position: fixed;
    right: 0;
    width: 50px;
    z-index: 200;
    height: 330px;
    margin-top: -142px;
    top: 50%;
    display: none;
}
.dock_icons{
    display: block;
    padding: 34px 0;
    position: absolute;
    list-style: none;
    right: 0;
    top: 32px;
    width: 50px;
    border-radius: 5px;
    background-color:rgba(31, 45, 61,.8);
}
.dock_icons li{
    margin-top: 10px;
}
.dock_icons i{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition:all .3s ease-in-out 0s;
    z-index:210;
}
.dock_icons li p{
position: absolute;
right: -250px;
padding: 10px 20px;
color: #FFFFFD;
border-right: none;
border-radius: 10px 0 0 10px;
opacity: 1;
overflow: hidden;
z-index: 201;
text-align: center;
background-color:rgba(31, 45, 61,.7);
}
.dock_im i{
    background: url("../img/icon_feedback.png")no-repeat center;
}
.dock_tel i{
    background: url("../img/icon_tel.png")no-repeat center;
}
.dock_wexin i{
    background: url("../img/icon_weixin.png")no-repeat center;
}
.dock_gupiao i{
    background: url("../img/icon_gupiao .png")no-repeat center;
}
.dock_im p{
    top:44px;
    width: 120px;
    height: 50px;
    line-height:30px;
    cursor: pointer;
}
.dock_im p a{
    color: #FFFFFD;
 }
.dock_tel p{
    top:104px;
    width: 140px;
    height: 50px;
    line-height:30px;
    cursor: pointer;
}
.dock_wexin p{
    top:130px;
    width: 140px;
    height: 120px;
    cursor: pointer;
}
.dock_gupiao p{
    bottom:24px;
    width: 140px;
    height: 50px;
    line-height:18px;
    cursor: pointer;
}
/*侧边栏结束*/

/*设备展示开始*/
.equipment{
    margin-top: 30px;
    margin-bottom: 100px;
}
.equipment_show_all{
    margin-bottom: 100px;
    height: 500px;
}
.equipment_show{
    height: 500px;
    width: 530px;
    padding-top: 38px;
    border: 1px solid #E3E3E3;
    text-align:center;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
}
.equipment_show_b:before{
    content: "";
    height: 800px;
    width: 40px;
    background-color: #0ea0db;
    opacity: .3;
    position: absolute;
    top: -200px;
    left: -500px;
    transform: skewX(45deg);
}
.equipment_show_b:hover:before{
    transform: skewX(45deg) translateX(1300px);
    transition: all .3s;
}
.equipment_show_a:before{
    content: "";
    height: 800px;
    width: 40px;
    background-color: #0ea0db;
    opacity: .3;
    position: absolute;
    top: -200px;
    right: -500px;
    transform: skewX(-45deg);
}
.equipment_show_a:hover:before{
    transform: skewX(-45deg) translateX(-1300px);
    transition: all .3s;
}
.equipment_show_btn{
    width: 100%;
    height: 55px;
    line-height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#666666;
    opacity: .7;
    color: white;
    font-size: 24px;
}
.equipment_show_btn:hover{
    background-color: #0ea0db;
}
.equipment_other{
    width: 200px;
    height: 47px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    line-height: 47px;
}
.equipment_other:hover{
    border: none;
}

.equipment_other a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #666666;
}
.equipment_other a:hover{
    border-radius: 5px;
    color: white;
    background-color: #0ea0db;
}
/*设备展示结束*/

/*我们的优势开始*/
.advantages{
    height: 585px;
    background-color: #52C8E6;
}
.advantages_box{
    width: 170px;
    height: 170px;
    background-color: white;
    color: white;
    border-radius: 50%;
    line-height: 170px;
    text-align: center;
    margin-left: 60px;
    position: relative;
    transition: all 2s;
}
.advantages_box_title{
    line-height: 200px;
    position: absolute;
    left: 60px;
    top:120px;
    font-size: 20px;
    font-weight: bold;
}
.advantages_box_text{
    position: relative;
    left: 0;
    top: 80px;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
}

/*我们的优势结束*/

/*动态开始*/
.dynamic{
    height: 545px;
    margin-bottom: 100px;
}
/*动态左*/
.dynamic_left{
    width: 595px;
    height: 540px;
    /*border: 1px solid black;*/
    margin-right: 100px;
}
/*新闻资讯start*/
.dynamic_left_head{
    position: relative;
}
.dynamic_left_head_h2{
    text-align: left;
}
.dynamic_left_head_line{
    position: absolute;
    top: 30px;
    width:240px;
    height: 1px;
    margin-top: 10px;
}
.dynamic_left_head_p{
    text-align: left;
    padding-top: 10px;
    padding-left: 55px;
}
/*新闻资讯end*/
.dynamic_left_l{
    width: 280px;
    height: 415px;
    /*border: 1px solid gold;*/
    margin-right: 25px;
}
.dynamic_left_r{
    width: 280px;
    height: 415px;
    /*border: 1px solid green;*/
}
.dynamic_left_btn{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight:bold;
    font-size: 18px;
    color: #333333;
}
.dynamic_left_img{
    height: 164px;
    background-color: #25A9E0;
    text-align: center;
    margin-bottom: 20px;
}
.dynamic_left_context{
    padding-left: 20px;
    margin-bottom: 0;
    line-height: 170%;
}
.dynamic_left_context li{
    list-style: circle;
}
.dynamic_left_context li a{
    color: #808080;
    font-size: 14px;
}
.dynamic_left_context li a:hover{
    color: #25A9E0;
}
/*动态右*/
.dynamic_right{
    width: 470px;
    height: 540px;
    /*border: 1px solid red;*/
}
/*诊断平台start*/
.dynamic_right_pingtai{
    text-align: center;
    margin-bottom: 32px;
}
.dynamic_right_text{
    text-indent:2em;
    color: #676767;
    padding: 0 55px;
    font-size: 14px;
}
/*诊断平台end*/
/*动态结束*/

/*关于我们开始*/
.about{
    height: 550px;
    background-color: #52C8E6;
    margin-bottom: 30px;
}
.about_head_line{
    width:180px;
}
.about_all{
    height: 300px;
    /*border: 1px solid #000;*/
}
.about_left{
    margin-right: 65px;
}
.about_center{
    width: 104px;
    height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 65px;
    position: relative;
    overflow: hidden;
    transition: all 1s linear;
}
.about_center_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 25px;
    border: 2px solid white;
    transition:all 2s;
}
.about_center_btm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 25px;
    border: 2px solid white;
    transition:all 2s;
}
.about_center_top:hover{
    background-color: white;
}
.about_center ul{
    height: 240px;
    overflow: hidden;
    margin-top: 5px;
}
.about_center li{
    float: left;
}
.about_img{
    padding-top: 20px;
}

.about_center_btm:hover{
    background-color: white;
}
/*rotateY(360deg)*/
@keyframes autoLi{
    from{
        transform:translateY(-450px);
    }
    to{
        transform:translateY(100px);
    }
}
/* 定义使用动画的类 */
.autoLi{
    animation:autoLi infinite linear 30s;
}


.about_right{
    width: 415px;
    height: 100%;
    text-align: center;
    color: white;
}
.about_right_h4{
    font-size: 20px;
    font-weight: bold;
}
.about_right_p{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    text-indent: 2em;
}
/*关于我们结束*/

/*试剂展示开始*/
.reagent{
    height: 633px;
    /*border: 1px solid #000;*/
    margin-bottom: 70px;
}
.reagent_head_line{
    width:330px;
}
.reagent_nav{
    width: 100%;
    height: 50px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: 200px;
    margin-bottom: 65px;
    box-sizing:border-box;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(90deg,#fff,#fff),linear-gradient(90deg,#fff,#abb1ba,#fff);
}
.reagent_nav_div{
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-left:1px solid #E4E4E4 ;
    cursor:pointer;
}
.reagent_nav_div:hover{
    background-color:#34AAE2 ;
    color: white;
}
.reagent_show{
    width: 100%;
    height: 375px;
    /*border: 1px solid #000;*/
    margin-bottom: 50px;
}
.reagent_show_all{
    width: 235px;
    height: 100%;
    border: 1px solid #E4E4E4;
    margin-left: 3px;
    text-align: center;
    padding-top: 40px;
    position: relative;
}
.reagent_show_all img{
    width: 182px;
    height: 234px;
}
.reagent_btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #E4E4E4;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
}
.reagent_btn:hover{
    color: white;
    background-color: #0ea0db;
}

/*遮罩层start*/
.reagent_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(127,127,127,.8);
    text-align: center;
    display: none;
    color: white;
    padding: 0 10px;
}
.reagent_cover_h3{

    font-size: 16px;
}
.reagent_cover_p{
    text-align: left;
    padding-top: 80px;
    font-size: 14px;
    text-indent:2em;
    font-weight: 400;
}
/*遮罩层end*/
/*试剂展示结束*/

/*底部开始*/
.footer{
    background-color: #25A9E0;
    height: 310px;
    padding-top: 20px;
}
.footer_top{
    height: 190px;
    /*border: 1px solid #000;*/
    margin-bottom: 45px;
}
.footer_top_left{
    width: 725px;
    height: 100%;
    /*border: 1px solid red;*/
    border-right: 1px dashed #DBDEDD;
    padding-left: 60px;
}
.footer_top_left_all{
    width: 95px;
    margin-right: 70px;
}
.footer_top_left_all h4{
    display: block;
    width: 95px;
    text-align: center;
    border-bottom: 1px solid #67C3EA;
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
}
.footer_top_left_all li{
    margin-bottom: 10px;
    text-align: center;
}
.footer_top_left_all li a{
    color: white;
    font-size: 12px;
}
.footer_top_left_all li a:hover{
    color: black;
}

.footer_top_right{
    width: 320px;
    height: 100%;
    /*border: 1px solid #000;*/
    padding-left: 25px;
    color: white;
}
.footer_top_right span{
    margin-right: 10px;
}
.footer_top_right h4{
    font-size: 16px;
}
.footer_top_right p{
    font-size: 12px;
    font-weight: 500;
    width: 500px;
}
.footer_btn{
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
}
.footer_btn a{
    color: white;
}
.footer_btn a:hover{
    text-decoration: underline;
}
/*底部结束*/

/*回到顶部*/
#BackToTop {
    float: left;
    display: none;
    z-index: 1;
    color: #eee;
    padding: 3px;
    position:fixed;
    bottom:30px;
    right:0;
    background-color: rgba(31, 45, 61,.8);
}
#BackToTop span
{
    border: 1px dashed #c4d1cb;
    display: block;
    padding: 4px 15px;
    cursor: pointer;
    background-color: rgba(31, 45, 61,.5);
}