/*中心内容 开始*/
.study_show{
    height: 100%;
    margin-bottom: 60px;
}
/*头部*/
.study_show_head{
    margin-top: 0;
    margin-bottom: 70px;
}
.study_show_line{
    width: 300px;
}
.study_show_all{
    height:100%;
    margin-bottom: 70px;
}
.study_show_all div{
    height: 420px;
    width: 360px;
    float: left;
    margin-right: 60px;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 10px;
    margin-bottom: 60px;
    line-height: 30px;
}
.study_show_all div:hover{
    background-color: #52C8E6;
}
.study_show_all div p:hover{
    color: white;
}
.study_show_all div a:hover{
    color: white;
}
.study_show_all div a span:hover{
    background-color: white;
}

/*first*/
.study_show_all_first{
    position: relative;
}
.study_show_all .study_show_all_first .study_show_first_title{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 28px;
    margin-bottom: 45px;
}
.study_show_all .study_show_all_first .study_show_first_time{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 14px;
    color: #666666;
    text-align: right;
}
.study_show_all_first:hover{
    background-color: #52C8E6;
}
/*else*/
.else_div{
    position: relative;
}
.study_show_else_time{
    font-size: 14px;
    color: #666666;
    margin-top: 28px;
}
.study_show_else_title{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.dian{
    position: absolute;
    bottom:14px;
    left:0;
    display: block;
    width: 2px;
    height:2px;
    background-color: #25A9E0;
}
.study_show_else_link{
    position: absolute;
    bottom:20px;
    left:20px;
    font-size: 10px;
    color: #25A9E1;
    padding-left:12px;
}
.study_more{
    width: 205px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #676767;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}
.study_more:hover{
    background-color:#25A9E1;
    color: white;
    border: none;
}
/*中心内容 结束*/